/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?u5s374") format("woff");
}

.products .icon-chevron-down-solid {
  position: absolute;
  top: 24px;
  right: 10px;
  width: 13px;
  height: 12px;
  color: #2c71b8;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.icon-chevron-down-solid:before {
  font-family: "icomoon" !important;
  content: "\e900";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
}

body {
  background-image: url("./img/patt.png");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #ffffff90;
}

.header__wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header__logo {
  display: block;
  width: 177px;
  height: 39px;
  margin-right: 123px;
  flex-shrink: 0;
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
}

.menu__items {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.menu__item {
  position: relative;
  width: 142px;
  text-align: center;
  border-left: 1px solid #2c71b8;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover {
  background-color: #2c71b8;
}

.menu__item:hover .menu__link,
.menu__item:hover span {
  color: #ffffff;
}

.menu__item:last-child {
  border-right: 1px solid #2c71b8;
}

.menu__item.products .menu__item-link {
  padding-right: 20px;
}

.menu__link {
  display: block;
  padding: 17px 30px;
  color: #2c71b8;
  transition: all 0.3s ease-in-out;
}

.menu__item-submenu {
  position: absolute;
  top: 58px;
  left: 142px;
  width: 285px;
  height: 250px;
  background-color: #2c71b8;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover + .menu__item-submenu,
.menu__item-submenu:hover {
  opacity: 1;
  visibility: visible;
}

.submenu__item:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.submenu__item-link {
  display: block;
  color: #ffffff;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
}

.submenu__item-link:hover {
  color: #2c71b8;
}

.header__search {
  position: relative;
  width: 200px;
  height: 40px;
  margin-right: 30px;
  border: 1px solid #2c71b8;
  background-color: transparent;
}

.header__search-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.header__search-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 38px 10px 20px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #2c71b8;
}

.header__search-input::placeholder {
  color: #2c71b8;
}

.header__search-btn {
  position: absolute;
  right: 4px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #2c71b8;
  cursor: pointer;
}

.basket {
  position: relative;
}

.basket__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}

.basket__counter {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #2c71b8;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
}

.menu__products-item:hover .products {
  background-color: #2c71b8;
}

.menu__products-item:hover .products .menu__link,
.menu__products-item:hover .products span {
  color: #ffffff;
}

.main > .container {
  display: flex;
}

/* SLIDER */
.main__slider {
  height: 400px;
  background-color: #09335e70;
  border-bottom: 1px solid #ffffff;
}

/* FILTERS PANEL */

.filters-panel__form {
  width: 270px;
  margin-right: 30px;
  padding: 33px 30px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter {
  margin-top: 63px;
}

.filter:first-child {
  margin-top: 0;
}

.filter__title {
  font-weight: 700;
  text-transform: uppercase;
}

.filter__option {
  margin-top: 25px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label::before {
  background-color: #ffffff;
}

.filter label {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  user-select: none;
}

.filter label::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.filters-panel__form .load-more {
  font-size: 21px;
}

.filters-panel .btn {
  margin-top: 25px;
}
/* MAIN PRODUCTS */

.main__products-wrapper {
  padding: 64px 0px 90px 0px;
}

.main__products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__products-title {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.main__products-sort {
  position: relative;
  width: 270px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #ffffff;
  background-color: #2c71b8;
  color: #ffffff;
  line-height: 40px;
}

.main__products-sort .icon-chevron-down-solid {
  position: absolute;
  top: 0;
  right: 15px;
  width: 13px;
  height: 12px;
  color: #fff;
  font-size: 12px;
}

.main__products-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.card {
  width: 270px;
  margin-top: 30px;
}

.card__image-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 179px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ffffff;
}

.card__zoom-btn,
.card__selected-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2c71b8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.card__selected-btn {
  top: 50px;
}

.card__zoom-btn:hover,
.card__selected-btn:hover {
  background-color: #2c71b8;
}

.card svg {
  fill: #2c71b8;
  transition: all 0.4s ease-out;
}

.card__zoom-btn:hover svg,
.card__selected-btn:hover svg {
  fill: #fff;
}

.card__description-block {
  padding: 15px;
  padding-bottom: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-top: none;
  background-color: #2c71b895;
}

.card__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

.card__type,
.card__screen,
.card__ram {
  margin-top: 15px;
}

.text-bold {
  font-weight: 700;
  text-transform: uppercase;
}

.card__price {
  margin-top: 30px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.card__price span {
  vertical-align: super;
  margin-left: 5px;
}

.btn {
  display: block;
  width: 210px;
  height: 50px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.btn-blue {
  border: 1px solid #fff;
  background-color: #2c71b8;
}

.btn-white {
  border: none;
  background-color: #ffffff40;
}

.btn-white img {
  width: 15px;
  height: 17px;
  margin-left: 13px;
}

.card__details-btn {
  margin-top: 25px;
}

.card__add-btn {
  margin-top: 15px;
}

.load-more {
  display: block;
  margin-top: 39px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.footer {
  background-color: #ffffff90;
  height: 100px;
  text-align: center;
}

.footer__copy {
  line-height: 100px;
  color: #2c71b8;
}
